/* Components*/
@import url("components/card.css");
@import url("components/container.css");
@import url("components/buttons.css");
@import url("components/images.css");
@import url("components/colors.css");
@import url("components/text_position.css");

/* Font*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  line-height: 1em;
}

h1 {
  color: white;
  font-family: 'Ubuntu';
  font-size: 45px;
  line-height: 2em;
}

h2{
  color: rgb(242, 109, 249);
  font-family: 'Ubuntu';
  font-size: 50px;
  line-height: 2em;
}

h3 {
  font-family: 'Ubuntu';
  font-size: 14px;
  line-height: 2em;
}

p {
  line-height: 2em;
  color: white;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: white;
  font-size: 16px;
}

ul{
  list-style-type: none;
}

li {
  margin: 0 20px auto;
  padding: Opx 20px;
  line-height: 2em;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}

.list-inline {
  display: block;
  list-style: none;
}

.list-inline > li{
  display: inline-block;
}


img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.text-align {
  text-align: center;
}


