

.card {
  background: #fff;
  height: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 30px auto 30px;
}


.card-img {
  width: 100%;
  height: 325px;
  position: relative;
  border: 3px solid rgba(219, 108, 121, 0.9);
  border-radius: 10px 10px 0px 0px;
}
.card-img img {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.card-img-site {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.card-img-icon {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 270px;
  left: 400px;
  border-radius: 50%;
}

.card-img-icon img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid rgba(219, 108, 121, 0.9);
  object-fit: contain;

}
.card-description {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  text-align: center;
  padding: 50px 30px;

}

.card-description h1 {
  font-size: 20px;
  color: white;
  text-align: left;
  background-color: rgb(189, 211, 88);
  border-radius: 10px;
  width: 350px;
  position: relative;
  bottom: 5%;
  padding-right: 10px;
  padding-left: 10px;
}

.card-description h2 {
  font-size: 22px;
  color: black;
  text-align: left;
}

.card-description h3 {
  text-align: left;
  opacity: 0.65;
  padding-right: 5px;
}

.card-description p {
  font-size: 12px;
  color: black;
  padding-top: 10px;
}
.card-tag {
  display: flex;
  text-align: center;
}

.fa-tags {
  opacity: 0.45;
}
