#container {
  width: 100%;
  margin: 0px auto;
  background-color: black;
 }

.header {
  padding: 10px 40px;
  position: relative;
  background-image: url(../../images/background_picture.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;

}
.header-filter {
  backdrop-filter: blur(2.5px);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}


.header h2{
  color: rgb(189, 211, 88);
  text-align: left;
}

.header p {
  line-height: 2em;
  color: white;
}

.footer {
  border-radius:5px;
  margin :30px auto 10px  ;
  padding: 10px 20px;

}

.cards-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  justify-items: center;
  padding: 35px;

  /*background-color: black;*/
  }


/*.card {
  background: #fff;
  border : 5px, solid rgb(189, 211, 88);
  height: 400px;
  width: 600px;
  display: flex;
  border-radius: 10px;
  margin: 30px auto 30px;
}
*/

@media(max-width: 992px) {
  .cards-block {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media(max-width: 768px) {
  .cards-block {
    grid-template-columns: 1fr;
    justify-items: center;
  }

}


@media (max-width: 960px) {
  #container .card {
    width: 700px;
  }
}

@media (max-width: 720px) {
  #container .card {
    width: 500px;
  }
}
@media (max-width: 540px) {
  #container .card {
    width: 300px;
  }
}
